.landing {
  z-index: 2;
  cursor: default;
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6,
.landing p {
  color: white;
}

.landingImage img {
  height: 110vh;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingTitle {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .landingImage img {
    height: 80vh;
  }
}

@media only screen and (max-width: 500px) {
  .landingImage img {
    height: 70vh;
  }
}
