.landing {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6,
.landing p {
  color: white;
}

.landingImage img {
  height: 75vh;
  opacity: 80%;
}

.landingTitle {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landingTitle {
  text-align: center;
}
.landingTitle img {
  height: 40vh;
}

@media only screen and (max-width: 2000px) {
  .landingImage img {
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landingTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 500px) {
  .landingImage img {
  width: 80%;
  height: 80%;
  }
}
