.landing {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6,
.landing p {
  color: white;
}

.landingImage img {
  height: 75vh;
  opacity: 80%;
}

.landingTitle {
  justify-content: flex-end;
  padding-top: 30vh;
}

.landingTitle img {
  height: 30vh;
}


@media only screen and (max-width: 1024px) {
  .landingImage img {
    opacity: 20%;
  }
}