html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0e0e0e;
  font-size: 14px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #2d2d2d;
  line-height: 1.25;
}

.title-color {
  color: #b28647;
  border-bottom: 4px solid #b28647;
  z-index: 2;
  text-shadow: 60px -25px 0px rgba(0, 0, 0, 0.08);
}

.sub-title {
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  padding: 5px 10px;
  color: #2d2d2d;
  text-transform: uppercase;
  border-top: 5px solid #b28647;
  border-bottom: 5px solid #b28647;
  border-radius: 5px;
  font-weight: bolder;
  width: fit-content;
}

.container {
  display: flex;
  height: 100vh;
}

.nav-menu {
  display: flex;
  background-color: #ebebeb;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 280px;
  z-index: 9;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.13);
  transition: all 0.4s ease-in-out;
}

#logo {
  width: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-wrapper {
  display: flex;
  width: calc(100% - 250px);
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/group.jpg") no-repeat fixed;
  background-size: cover;
}

.menu-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-text li {
  margin-bottom: 20px;
}

.menu-text li a {
  color: #333;
  position: relative;
  letter-spacing: 0.15em;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 15px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-text li a:hover {
  background-color: #b28647;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff;
}

.active-filter {
  background-color: #b28647;
  border-radius: 10px;
  padding: 5px 15px;
  color: #fff !important;
}

.hide {
  display: none !important;
}

.content {
  background-color: rgba(255, 255, 255, 1);
  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/group.jpg") no-repeat center; */
  background-size: cover;
  padding: 30px;
  min-height: 100%;
  max-height: 100%;
  width: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .content {
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  .content {
    width: 100%;
  }
}

#album {
  display: inline-block;
  width: 100%;
}

.no-padding {
  padding: 0;
}

#map {
  border: 12px solid #bda26b;
  object-fit: contain;
}

.social-links li {
  display: inline-flex;
}

.social-links li a {
  color: #b28647;
  font-size: 20px;
}

.mobile-nav {
  z-index: 10;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.mobile-nav > i {
  font-size: 30px;
  color: #b28647;
}

@media screen and (max-width: 1000px) {
  .content-wrapper {
    width: 100%;
    /* background: #000; */
  }
  .content {
    padding-top: 50px;
    justify-content: flex-start;
  }
  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-menu {
    flex-basis: 100%;
  }
}

.display-none {
  display: none;
}

.full-width {
  width: 100%;
}

span {
  display: flex;
  flex-direction: row;
}

span a {
  text-decoration: none;
}

span a:hover {
  color: blue;
}
